:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --card-title-bg: #ff0070;
  --card-title-text: #000028;
  --menu-button-color: #ff0070;
  --menu-button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}
