/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #353430;
  --header-title-color: #ffc2e6;
  --card-title-bg: #ff8dcb;
  --card-title-text: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

/* Скрываем REC */
.theme-light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-light):not(.theme-dark),
  :root.theme-auto {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --card-title-bg: #ff8dcb;
    --card-title-text: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  /* Скрываем REC - костыль - потом убрать */
  :root:not(.theme-light):not(.theme-dark) .header__decoration,
  :root.theme-auto .header__decoration {
    display: none;
  }
}

.header__title {
  text-shadow: 4px 4px 0 var(--card-title-bg);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--card-title-bg);
}
