/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--main-font, sans-serif);
  color: var(--text-color);
  line-height: 1.5;
}

/* Стили для хедера */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  min-height: 668px;
  height: 100vh;
  align-items: center;
  margin-block-end: 38px;
  padding-inline: 10px;
}

/* Уголочки */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 0px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 0px;
  inset-block-end: 15px;
}

/* Точка REC */
.header__decoration {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: 20px;
  inset-block-start: 15px;
  line-height: 1.4;
}

.header__decoration::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* Стили для меню смены темы */
.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

/* Стили для кнопок смены темы */
.header__theme-menu-button {
  border: none;
  background-color: transparent;
  padding: 1.5px 13px;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
  color: var(--text-color);
}

/* Стили для логотипа */
.header__title {
  align-self: center;
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  max-inline-size: 364px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  background-color: var(--card-title-bg);
  color: var(--card-title-text);
  margin-block-end: 13px;
}

/* Стили для состояний */
.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

/* Стили для основного контента */
.content {
  margin-block-end: 40px;
  font-size: 18px;
  padding-inline: 10px;
}

.content__section {
  margin-block-end: 50px;
}

.content__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  margin-block-end: 20px;
}

.сontent__articles {
  display: grid;
  gap: 20px;
}

.content__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 20px;
}

.content__card-title {
  background-color: var(--card-title-bg);
  color: var(--card-title-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.content__articles > * + * {
  margin-block-start: 20px;
}

.content__card-title_regular {
  font-weight: 400;
}

.content__card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color);
}

.content__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--card-title-bg);
}

.content__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

/* Стили для галлиреи */

.content__gallery {
  margin-block-end: 40px;
}

.gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 8px;
}

.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Стили для футера */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  padding: 10px;
}

.footer__title {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Стили для планшетов */
@media (width >= 768px) {
  /* Header */
  .header {
    min-height: 1024px;
    margin-block-end: 60px;
    justify-items: baseline;
    padding-inline: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__decoration {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    align-self: center;
    padding-block-start: 14px;
  }

  .header__title {
    font-size: clamp(7.5rem, 5.6944rem + 3.7634vw, 9.8125rem);
    margin-inline-start: -20px;
    margin-block-end: 0px;
  }

  .header__subtitle {
    max-inline-size: 364px;
    margin-block-end: 21px;
  }

  /* Content */
  .content {
    padding-inline: 20px;
    margin-block-end: 60px;
  }

  .content__section {
    margin-block-end: 60px;
  }

  .content__section_why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__section_why .content__title {
    margin-block-end: 0;
  }

  .content__section--what .content__title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-end: 20px;
    margin-inline-end: 20px;
  }

  .content__section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-block-start: 20px;
  }

  .content__section_how .content__title {
    margin-block-end: 0;
  }

  /* Галерея */
  .content__gallery {
    margin-block-end: 60px;
  }

  .content__gallery > h2 {
    margin-block-end: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-block-start: 20px;
  }

  .gallery__item_sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__item_ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__item_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item_street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  /* Footer */
  .footer {
    min-block-size: 1024px;
    height: 100vh;
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Десктопная версия */

@media (width >= 1024px) {
  .header {
    min-height: 761px;
    block-size: 100vh;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 15px;
  }

  .header__title {
    font-size: clamp(7.25rem, 5.7692rem + 6.3175vw, 9.8125rem);
  }

  .header__subtitle {
    max-inline-size: 491px;
    margin-block-end: 20px;
  }

  /* Секция контент */
  .content__section_why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .content__section--what .content__articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__articles > * + * {
    margin-block-start: 0px;
  }

  .content__section-how
    .content__articles
    > .content__card-title
    + .content__card {
    margin-block-start: 20px;
  }

  /* Секция "Как концентрироваться лучше" */
  .content__section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding-block-start: 00px;
  }

  /* Footer */
  .footer {
    min-block-size: 768px;
  }
}
